body {
    background-color: black;
    color: antiquewhite;
    display: flex;
    font-family: Arial, sans-serif;
  }
  
.black{
  background-color: black;
  color: antiquewhite;
}

  #bio{
    border: 5px double red;
  }
  
  #navBar{
    border: 5px double yellow;
  }
  
  #body1{
    border: 5px double green;
  }
  
  #body2{
    border: 5px double blue;
  }
  
  #footer{
    border: 5px double indigo;
  }

.packageStyle {
  background-color: black;
  border: 1px solid antiquewhite;
}

.learnMore {
  background-color: gray;
  color: antiquewhite;
  border-radius: 5px;
  padding: 5px;
}

.form-container {
  padding: 10px;
  background-color: black;
}

#descPack {
  background-color: antiquewhite;
}
#namePack {
  background-color: antiquewhite; 
}
.addPackage{
  background-color: gray;
  border: none;
  padding: 8px;
  color: antiquewhite;
}

  img {
    border-radius: 50%;
  }
