body {
    background-color: black;
    color: antiquewhite;
    display: flex;
    font-family: Arial, sans-serif;
  }
  
.black{
  background-color: black;
  color: antiquewhite;
}

  #bio{
    border: 5px double red;
  }
  
  #navBar{
    border: 5px double yellow;
  }
  
  #body1{
    border: 5px double green;
  }
  
  #body2{
    border: 5px double blue;
  }
  
  #footer{
    border: 5px double indigo;
  }

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
  img {
    border-radius: 50%;
  }
